html, body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
.title {
    font-family: "Indie Flower", "Lato", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #000;
    margin-top: 5px;
}
.vertical-spacer-25 {
    clear: both;
    width: 100%;
    height: 25px;
}
.vertical-spacer-10 {
    clear: both;
    width: 100%;
    height: 10px;
}

.indieflower{
    font-family: "Indie Flower", "Lato", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.padding-top-15 {
    padding-top: 15px;
}
.margin-top-15 {
    margin-top: 15px;
}
.centered {
    text-align: center;
    margin: 0 auto;
}
.plain {
    list-style-type: none;
}
.chatbox {
    width: 100%;
    height: 300px;
    margin: 0 0 20px 0;
    border: solid 1px #ccc;
    padding: 10px;
    overflow-y: scroll;
}
.top-bar{
    background-color:#2ECCFA;
    border-bottom: 1px solid #000;
}
.top-bar-section ul li a{
    background-color: #2ECCFA
        !important;
    color: #000;
    border-bottom: 1px solid #000;
    height: 45px;
}
.cat-pic{
    height: 386px;
    width: 470px;
}