<html>
  <head>
    <title>Real time web chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery-2.1.3.min.js"></script>
    <script src="/chat.js"></script>
  </head>
  <body>
    <div id="content" style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;"></div>
    <div class="controls">
      <input style="width:350px;" id="field" />
      <input type="button" value="send" id="send" />
    </div>
  </body>
</html>
